<head>
    <link rel="stylesheet" href="styles/indices.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/popup.css">
    <script src="scripts/reloj.js" defer></script>
    <script src="scripts/popup.js" defer></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Autores</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body>
    <main>
        <h2>Index de Autores</h2>
        <div id="reloj"></div>
        <section id="indice">
            <div>
                <strong>G</strong> <br>
                <a href="autores.html#george-orwell">George Orwell</a>
            </div>
            <hr>
            <div>
                <strong>H</strong> <br>
                <a href="autores.html#harlan-ellison">Harlan Ellison</a> <br>
                <a href="autores.html#lovecraft">H. P. Lovecraft</a>
            </div>
            <hr>
            <div>
                <strong>I</strong> <br>
                <a href="autores.html#isaac-asimov">Isaac Asimov</a>
            </div>
            <hr>
            <div>
                <strong>N</strong><br>
                <a href="autores.html#neal-stephenson">Neal Stephenson</a>
            </div>
        </section>
    </main>
</body>

</html>