<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap" rel="stylesheet">
    <title>Contacto</title>
    <link rel="shortcut icon" href="images/favicon3.ico" type="image/x-icon">
</head>

<body>
    <main>
        <form action="" method="get">
            <fieldset>
                <h2>
                    Contactános
                </h2>
                <label for="name">Nombre</label> <br>
                <input type="text" id="name" name="name">
                <br>
                <label for="email">Correo electrónico</label><br>
                <input type="email" id="email" name="email">
                <br>
                <label for="comentario">Comentario</label><br>
                <textarea name="comentario" id="" cols="60" rows="10"></textarea>
                <br> <br>
                <input type="submit" value="Enviar" id="enviar">
                <input type="reset" value="Cancelar" id="cancelar">
            </fieldset>
        </form>
    </main>
</body>

</html>