<a href="/libros">Volver</a>
<div>
    <h1>Crear tarea</h1>
    <form action="" method="POST" enctype="multipart/form-data" class="mt-4" id="bookForm">
        <input type="text" placeholder="Título" name="titulo">
        <input type="file" accept="image/png, image/jpeg" name="portada" />
        <input type="text" placeholder="Autor" name="autor" />
        <input type="text" placeholder="Año" name="year" />
        <textarea placeholder="Reseña" name="reseña"></textarea>
        <button type="submit">Enviar</button>
    </form>
</div>